@import 'shared-values';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  font-family: $primary-font;
  font-size: 1.3em;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1 {
  margin-top: 2%;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row a {
  text-decoration-line: none;
}

.row {
  margin-top: .5%;
  margin-bottom: .5%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  margin: 5%;
  text-align: center;
  font-size: .7em;
}

.comment-container {
  margin-top: 2%;
  padding-top: 2%;
  border-top: 1px solid $secondary-color;
}

.secondary-heading {
  margin-bottom: 2%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.table-heading {
  border-bottom: 1px solid black;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.far {
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-trash-alt {
  color: #ff0000;
}

.fa-trash-alt:hover {
  color: #cc0000;
}

.fa-edit {
  color: #505050;
}

.fa-edit:hover {
  color: black;
}

div.success {
  margin-left: 10%;
  color: black;

  margin-bottom: 0%;
}

div.alert {
  margin-left: 10%;
  color: red;
  margin-bottom: 0%;
}



.pagination {
  justify-content: center;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
